In [36]:
import pandas as pd
from sqlalchemy import create_engine,types
import psycopg2

In [15]:
# 접속 db 정보
# dbPrefix = "postgresql" # PostgreSql
# dbPrefix = "mysql" # mariaDB
dbPrefix = "oracle+cx_oracle" # Oracle (라이브러리 설치 : pip install cx_Oracle)
dbId = "minjae"
dbPw = "minjae"
dbIp = "192.168.110.111"
dbPort = "1521"
dbName = "orcl"
dataEncoding = "utf-8" # ms949. utf-8

# 접속할 DB
pgEngine = create_engine(f"{dbPrefix}://{dbId}:{dbPw}@{dbIp}:{dbPort}/{dbName}")

In [10]:
# csv to DB ---------------------------------------

In [ ]:
# 불러올 파일
filePath = "../dataset"
fileName = ["joindata1","joindata2"]
fileType = ".csv"

# 생성할 태이블명
tableName = fileName

In [9]:
for i in range(len(tableName)) :
    try :
        # 파일 불러오기
        # indata = pd.read_csv(f'{filePath}/{fileName[i]}{fileType}', encoding = dataEncoding)
        indata = pd.read_csv(f'{filePath}/{fileName[i]}{fileType}')
        
        # object 타입을 VARCHAR2로 설정
        objectColumns = list(indata.columns[indata.dtypes == 'object'])
        typeDict={}
        maxLen = 100

        for i in range(0, len(objectColumns)):
            typeDict[ objectColumns[i] ] = types.VARCHAR(maxLen)

        # float 타입을 NUMERIC으로 설정
        floatColumns = list(indata.columns[indata.dtypes == 'float64'])

        for i in range(0, len(floatColumns)):
            typeDict[ floatColumns[i] ] = types.NUMERIC
            
        # 태이블 생성
        indata.to_sql(name = tableName[i],
                      con = pgEngine,
                      if_exists='replace',
                      dtype=typeDict,
                      index=False)
        
        print(f"{tableName[i]} is created in {dbPrefix} {dbName}")
    except Exception as e :
        print(e)

joindata1 is created in postgresql postgres
'utf-8' codec can't decode byte 0xb3 in position 83: invalid start byte

In [11]:
# clipboard to DB ---------------------------------

In [59]:
indata = pd.read_clipboard()
tableName = "키워드관리"
indata

     광고코드    광고키워드       키워드아이디  설정한 클릭당 광고가격   클릭수      노출수
0   hk001   스마트금융과  KEYWORD0001         500.0  10.0    100.0
1   hk001    강서캠퍼스  KEYWORD0004        1000.0  20.0     50.0
2   hk001  한국폴리텍대학  KEYWORD0002        1500.0  30.0     30.0
3   hk001   hkcode  KEYWORD0006           NaN   NaN      NaN
4   hk002   스마트금융과  KEYWORD0001         600.0  50.0    500.0
5   hk002     폴리텍대  KEYWORD0003           0.0   NaN   2000.0
6   hk002       강서  KEYWORD0005         500.0  30.0   3000.0
7   hk003   스마트금융과  KEYWORD0001        1000.0  20.0    200.0
8   hk003     폴리텍대  KEYWORD0003         500.0  10.0   1500.0
9   hk003  한국폴리텍대학           AD        2000.0  50.0  10000.0
10  hk004       하둡  KEYWORD0007         100.0   5.0    200.0
11  hk004     빅데이터  KEYWORD0008         200.0   5.0    300.0

In [60]:
indata.dtypes

광고코드             object
광고키워드            object
키워드아이디           object
설정한 클릭당 광고가격    float64
클릭수             float64
노출수             float64
dtype: object

In [ ]:
# object 타입을 VARCHAR2로 설정
objectColumns = list(indata.columns[indata.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    typeDict[ objectColumns[i] ] = types.VARCHAR(maxLen)

# float 타입을 NUMERIC으로 설정
floatColumns = list(indata.columns[indata.dtypes == 'float64'])

for i in range(0, len(floatColumns)):
    typeDict[ floatColumns[i] ] = types.NUMERIC

In [63]:
try :
    # 태이블 생성
    indata.to_sql(name = tableName,
                  con = pgEngine,
                  if_exists='replace',
                  dtype=typeDict,
                  index=False)
    
    print(f"{tableName} is created in {dbPrefix} {dbName}")
except Exception as e :
    print(e)

키워드관리 is created in oracle+cx_oracle orcl